/*Colores*/
$primary: #e90000;
$secondary: #0000003f;
$alternative: #302f4d;
$text-color:#ffffff;

/*Fuentes*/

$font-principal:  'PT Sans Narrow', sans-serif;

/*Espaciados*/
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;


/*Tamaños fuente*/
$large: 5.2rem;
$medium: 2.2rem;
$base: 1.6rem;
$small: 1.4rem;

